.box {
    width: 100%;
    height: 80px;
    background: red;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 13px;
}
body {
    background: url("background.jpg");
    background-size: cover;
}
.row-margin {
    margin-top: 20px;
}

.header {
    margin-top: 50px;
    margin-bottom: 100px;
}

.btn-row {
    margin-top: 50px;
}

.input-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.msg {
    text-align: center;
    font-size: 25px;
    color: red;
}